<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AML, CFT and PF Guidelines</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>AML_CFT_Guidelines</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Concept and Role of Mutual Fund</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Derivative Markets</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Discussion on PMLA-related Cases</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Fund Distribution and Channel Management</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>I Accounting and Taxation</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>I Clearing Settlement and Risk Management</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>I Codes of Conduct and Investor Protection</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>I Exchange Traded Currency Futures</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>I Exchange Traded Currency Options</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>I Foreign Exchange Derivatives</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>I Introduction to Currency Markets</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>I Regulatory Framework</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>I Strategies Using Currency Derivatives</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>I Trading Mechanism</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>IFSCA AML CFT KYC Guidelines</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>IFSCA FATF Recommendations</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>IFSCA Introduction to AML CFT and PF</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>IFSCA KYC Norms</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>IFSCA Maintenance of Records Rules</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>IFSCA PMLA 2002</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>IFSCA PMLA Related Cases</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>IFSCA Scheduled Offences</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Introduction to AML, CFT and Proliferation Financing</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Investment Landscape</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Investor Services</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>KYC Guidelines</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Legal Structure of Mutual Funds</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Legal and Regulatory Framework</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>MF Products for New Cadre</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Mutual Funds</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>NAV TER and Pricing</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Prevention of Money Laundering Act, 2002</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Primary Markets</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Risk Return and Performance</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>SEBI Guidelines for AML Standards, CFT and PF with KYC Norms</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Scheduled Offences under PMLA</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Scheme Performance</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Scheme Related Information</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Scheme Selection</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Secondary Markets</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Securities Types Features and Asset Allocation Concepts</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Taxation</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Understanding Securities Markets and Performance</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VB Concept and Role of Mutual Fund</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VB Fund Distribution and Channel Management</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VB Investment Landscape</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VB Investor Services</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VB Legal Structure of Mutual Funds</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VB Legal and Regulatory Environment</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VB Performance of Mutual Funds</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VB Scheme Related Information</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VB Taxation</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VIII Accounting and Taxation</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VIII Basics of Derivatives</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VIII Introduction to Clearing and Settlement System</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VIII Introduction to Forwards and Futures</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VIII Introduction to Options</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VIII Introduction to Trading Systems</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VIII Legal and Regulatory Environment</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VIII Option Trading Strategies</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VIII Sales Practices and Investor Protection Services</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VIII Understanding Index</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
