<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AML, CFT and PF Guidelines</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>AML_CFT_Guidelines</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Alternative Investments</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Analysis of Equity and Debt Instruments</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Basics of Insurance</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Basics of Securities and Types</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Behavioral Finance</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Case Studies</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Clubbing, Set-Off and Carry Forward of Losses</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Commodity and Real Estate Investment</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Company Analysis</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Concept and Role of Mutual Fund</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Corporate Actions</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Custodians Compliance</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>DTAA Provisions</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Depository Services and Dematerialisation</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Derivative Markets</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Discussion on PMLA-related Cases</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Disinvestment, Buyback and Delisting</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Duplicate Share Certificates and Transmission of Securities</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>E-Voting and Proxy Services</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Economic Analysis</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Exempt Incomes, Deductions, Rebates</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Financial System Overview</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Foreign Portfolio Investors</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Fraudulent and Unfair Trade Practices</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Fund Distribution and Channel Management</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Fundamental Analysis and Valuation Techniques</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Fundamentals of Research</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>I Accounting and Taxation</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>I Clearing Settlement and Risk Management</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>I Codes of Conduct and Investor Protection</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>I Exchange Traded Currency Futures</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>I Exchange Traded Currency Options</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>I Foreign Exchange Derivatives</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>I Introduction to Currency Markets</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>I Regulatory Framework</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>I Strategies Using Currency Derivatives</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>I Trading Mechanism</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>IFSCA AML CFT KYC Guidelines</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>IFSCA FATF Recommendations</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>IFSCA Introduction to AML CFT and PF</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>IFSCA KYC Norms</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>IFSCA Maintenance of Records Rules</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>IFSCA PMLA 2002</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>IFSCA PMLA Related Cases</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>IFSCA Scheduled Offences</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>III-C AIF Regulations</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>III-C Depositories Act</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>III-C Foreign Exchange Management Act</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>III-C Foreign Portfolio Investors</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>III-C Fraudulent and Unfair Trade Practices</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>III-C Insider Trading Regulations</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>III-C Introduction to Compliance</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>III-C Introduction to Financial System</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>III-C InvIT Regulations</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>III-C KYC Registration Agency</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>III-C Mutual Fund Regulations</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>III-C Prevention of Money Laundering Act</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>III-C REIT Regulations</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>III-C Regulatory Framework</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>III-C SCRA and SCRR</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>III-C SEBI Act 1992</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>III-C SEBI Intermediaries Regulations</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>IV Accounting and Taxation</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>IV Clearing Settlement and Risk Management</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>IV Code of Conduct and Investor Protection</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>IV Fixed Income Instruments and Bond Markets</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>IV Interest Rate Futures</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>IV Interest Rate Options</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>IV Introduction to Interest Rate Derivatives</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>IV Regulatory Framework</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>IV Strategies Using Interest Rate Derivatives</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>IV Trading Mechanism</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Income, Residential Status, Five Heads of Income</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Industry Analysis</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Insider Trading Regulations</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Introduction to AML, CFT and Proliferation Financing</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Introduction to Merchant Banking</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Introduction to Research Analyst Profession</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Introduction to Securities Market</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Introduction to the Capital Market</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Investment Landscape</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Investor Grievance Handling and Redressal</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Investor Services</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Investor Services and Transaction Processing</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Issue Management - General Obligations and Due Diligence</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Issue Management - Important Terms</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Issue Management - Process and Underwriting</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>KYC Guidelines</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>KYC and Compliance Requirements</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Legal Structure of Mutual Funds</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Legal and Regulatory Framework</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Life Insurance Products</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>MF Products for New Cadre</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Mergers, Acquisitions and Takeovers</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Mutual Funds</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>NAV Calculations and Fund Valuation</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>NAV TER and Pricing</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Portfolio Creation for Retirement</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Prevention of Money Laundering Act</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Prevention of Money Laundering Act, 2002</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Primary Markets</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Processing of Mutual Fund Transactions</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Product Comparison</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Proxy Advisors</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Public Offerings and IPO Processes</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Registration, Code of Conduct and General Obligations</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Regulatory Requirements for Research Analysts</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Regulatory and Ethical Aspects</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Retirement Products - Accumulation and Distribution</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Risk Profiling</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Risk Return and Performance</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Role of RTAs in Mutual Fund Transactions</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>SEBI Act, 1992</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>SEBI Guidelines for AML Standards, CFT and PF with KYC Norms</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>SEBI LODR Regulations</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>SEBI Regulations for RTAs</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Scheduled Offences under PMLA</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Scheme Performance</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Scheme Related Information</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Scheme Selection</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Secondary Markets</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Securities Contracts (Regulation) Act</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Securities Types Features and Asset Allocation Concepts</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Stock Brokers Regulations</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Tax Framework and Key Concepts</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Taxation</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Taxation of Debt and Equity Products</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>Technical Analysis</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Terminology in Equity and Debt Markets</key>
	<array>
		<dict>
			<key>articleName</key>
			<string>All Topics</string>
			<key>articleNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Understanding Securities Markets and Performance</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VB Concept and Role of Mutual Fund</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VB Fund Distribution and Channel Management</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VB Investment Landscape</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VB Investor Services</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VB Legal Structure of Mutual Funds</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VB Legal and Regulatory Environment</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VB Performance of Mutual Funds</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VB Scheme Related Information</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VB Taxation</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VI Debt Instruments and Government Securities</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VI Dematerialisation</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VI Depository and its Business Partners</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VI Foreign Portfolio Investors</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VI Functions of DP Account Opening</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VI Functions of DP Account Operations</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VI Introduction to Depository</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VI Introduction to the Indian Capital Market</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VI Investor Services</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VI Pledge and Hypothecation</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VI Public Offering and Corporate Actions</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VI Trading and Settlement</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VI Transmission and Nomination</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VII Clearing Process</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VII Introduction to Securities Broking Operations</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VII Introduction to Securities Market</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VII Investor Grievances and Arbitration</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VII Market Participants in Securities Markets</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VII Other Services Provided by Brokers</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VII Risk Management</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VII Settlement Process</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VIII Accounting and Taxation</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VIII Basics of Derivatives</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VIII Introduction to Clearing and Settlement System</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VIII Introduction to Forwards and Futures</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VIII Introduction to Options</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VIII Introduction to Trading Systems</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VIII Legal and Regulatory Environment</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VIII Option Trading Strategies</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VIII Sales Practices and Investor Protection Services</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>VIII Understanding Index</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XA Indian Financial Markets</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XA Investment Products</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XA Managed Portfolios</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XA Operations Regulation and Ethics</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XA Personal Financial Planning</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XA Portfolio Construction and Evaluation</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XIII Accounting and Taxation</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XIII Basics of Derivatives</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XIII Introduction to Forwards and Futures</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XIII Introduction to Options</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XIII Introduction to the Underlying Markets</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XIII Legal and Regulatory Environment</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XIII Option Trading Strategies</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XIII Sales Practices, Code of Conduct and Investor Protection</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XIII Strategies Using Futures</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XIII Trading, Clearing, Settlement and Risk Management</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XVI Accounting and Taxation</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XVI Clearing, Settlement and Risk Management</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XVI Code of Conduct and Investor Protection</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XVI Commodity Futures</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XVI Commodity Indices</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XVI Commodity Options</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XVI Introduction to Commodity Markets</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XVI Legal and Regulatory Environment</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XVI Trading Mechanism</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
	<key>XVI Uses of Commodity Derivatives</key>
	<dict>
		<key>All Topics</key>
		<string>1</string>
	</dict>
</dict>
</plist>
