<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFSCA-01 - AML and CFT in the IFSC</key>
	<dict>
		<key>examCode</key>
		<string>IFSCA-01</string>
		<key>topics</key>
		<dict>
			<key>IFSCA AML CFT KYC Guidelines</key>
			<integer>16</integer>
			<key>IFSCA FATF Recommendations</key>
			<integer>12</integer>
			<key>IFSCA Introduction to AML CFT and PF</key>
			<integer>10</integer>
			<key>IFSCA KYC Norms</key>
			<integer>20</integer>
			<key>IFSCA Maintenance of Records Rules</key>
			<integer>14</integer>
			<key>IFSCA PMLA 2002</key>
			<integer>14</integer>
			<key>IFSCA PMLA Related Cases</key>
			<integer>8</integer>
			<key>IFSCA Scheduled Offences</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>Series I - Currency Derivatives</key>
	<dict>
		<key>examCode</key>
		<string>I</string>
		<key>topics</key>
		<dict>
			<key>I Accounting and Taxation</key>
			<integer>5</integer>
			<key>I Clearing Settlement and Risk Management</key>
			<integer>10</integer>
			<key>I Codes of Conduct and Investor Protection</key>
			<integer>5</integer>
			<key>I Exchange Traded Currency Futures</key>
			<integer>20</integer>
			<key>I Exchange Traded Currency Options</key>
			<integer>20</integer>
			<key>I Foreign Exchange Derivatives</key>
			<integer>5</integer>
			<key>I Introduction to Currency Markets</key>
			<integer>10</integer>
			<key>I Regulatory Framework</key>
			<integer>5</integer>
			<key>I Strategies Using Currency Derivatives</key>
			<integer>10</integer>
			<key>I Trading Mechanism</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Series II-A - RTA Corporate</key>
	<dict>
		<key>examCode</key>
		<string>II-A</string>
		<key>topics</key>
		<dict>
			<key>Basics of Securities and Types</key>
			<integer>12</integer>
			<key>Corporate Actions</key>
			<integer>15</integer>
			<key>Depository Services and Dematerialisation</key>
			<integer>12</integer>
			<key>Duplicate Share Certificates and Transmission of Securities</key>
			<integer>10</integer>
			<key>E-Voting and Proxy Services</key>
			<integer>10</integer>
			<key>Investor Grievance Handling and Redressal</key>
			<integer>12</integer>
			<key>Public Offerings and IPO Processes</key>
			<integer>15</integer>
			<key>SEBI LODR Regulations</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>Series II-B - RTA Mutual Fund</key>
	<dict>
		<key>examCode</key>
		<string>II-B</string>
		<key>topics</key>
		<dict>
			<key>Investor Services and Transaction Processing</key>
			<integer>17</integer>
			<key>KYC and Compliance Requirements</key>
			<integer>16</integer>
			<key>NAV Calculations and Fund Valuation</key>
			<integer>17</integer>
			<key>Processing of Mutual Fund Transactions</key>
			<integer>16</integer>
			<key>Role of RTAs in Mutual Fund Transactions</key>
			<integer>18</integer>
			<key>SEBI Regulations for RTAs</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>Series III-A - Securities Intermediaries Compliance (Non-Fund)</key>
	<dict>
		<key>examCode</key>
		<string>III-A</string>
		<key>topics</key>
		<dict>
			<key>Custodians Compliance</key>
			<integer>10</integer>
			<key>Financial System Overview</key>
			<integer>10</integer>
			<key>Foreign Portfolio Investors</key>
			<integer>10</integer>
			<key>Fraudulent and Unfair Trade Practices</key>
			<integer>10</integer>
			<key>Insider Trading Regulations</key>
			<integer>10</integer>
			<key>Prevention of Money Laundering Act</key>
			<integer>8</integer>
			<key>Proxy Advisors</key>
			<integer>10</integer>
			<key>SEBI Act, 1992</key>
			<integer>12</integer>
			<key>Securities Contracts (Regulation) Act</key>
			<integer>10</integer>
			<key>Stock Brokers Regulations</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Series III-C - Securities Intermediaries Compliance (Fund)</key>
	<dict>
		<key>examCode</key>
		<string>III-C</string>
		<key>topics</key>
		<dict>
			<key>III-C AIF Regulations</key>
			<integer>10</integer>
			<key>III-C Depositories Act</key>
			<integer>3</integer>
			<key>III-C Foreign Exchange Management Act</key>
			<integer>4</integer>
			<key>III-C Foreign Portfolio Investors</key>
			<integer>3</integer>
			<key>III-C Fraudulent and Unfair Trade Practices</key>
			<integer>6</integer>
			<key>III-C Insider Trading Regulations</key>
			<integer>6</integer>
			<key>III-C Introduction to Compliance</key>
			<integer>4</integer>
			<key>III-C Introduction to Financial System</key>
			<integer>5</integer>
			<key>III-C InvIT Regulations</key>
			<integer>8</integer>
			<key>III-C KYC Registration Agency</key>
			<integer>2</integer>
			<key>III-C Mutual Fund Regulations</key>
			<integer>11</integer>
			<key>III-C Prevention of Money Laundering Act</key>
			<integer>7</integer>
			<key>III-C REIT Regulations</key>
			<integer>8</integer>
			<key>III-C Regulatory Framework</key>
			<integer>6</integer>
			<key>III-C SCRA and SCRR</key>
			<integer>4</integer>
			<key>III-C SEBI Act 1992</key>
			<integer>7</integer>
			<key>III-C SEBI Intermediaries Regulations</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>Series IV - Interest Rate Derivatives</key>
	<dict>
		<key>examCode</key>
		<string>IV</string>
		<key>topics</key>
		<dict>
			<key>IV Accounting and Taxation</key>
			<integer>5</integer>
			<key>IV Clearing Settlement and Risk Management</key>
			<integer>10</integer>
			<key>IV Code of Conduct and Investor Protection</key>
			<integer>5</integer>
			<key>IV Fixed Income Instruments and Bond Markets</key>
			<integer>10</integer>
			<key>IV Interest Rate Futures</key>
			<integer>20</integer>
			<key>IV Interest Rate Options</key>
			<integer>15</integer>
			<key>IV Introduction to Interest Rate Derivatives</key>
			<integer>5</integer>
			<key>IV Regulatory Framework</key>
			<integer>5</integer>
			<key>IV Strategies Using Interest Rate Derivatives</key>
			<integer>15</integer>
			<key>IV Trading Mechanism</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Series IX - Merchant Banking</key>
	<dict>
		<key>examCode</key>
		<string>IX</string>
		<key>topics</key>
		<dict>
			<key>Disinvestment, Buyback and Delisting</key>
			<integer>10</integer>
			<key>Introduction to Merchant Banking</key>
			<integer>15</integer>
			<key>Introduction to the Capital Market</key>
			<integer>7</integer>
			<key>Issue Management - General Obligations and Due Diligence</key>
			<integer>15</integer>
			<key>Issue Management - Important Terms</key>
			<integer>5</integer>
			<key>Issue Management - Process and Underwriting</key>
			<integer>18</integer>
			<key>Mergers, Acquisitions and Takeovers</key>
			<integer>15</integer>
			<key>Registration, Code of Conduct and General Obligations</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>Series V-A - Mutual Fund Distributors</key>
	<dict>
		<key>examCode</key>
		<string>V-A</string>
		<key>topics</key>
		<dict>
			<key>Concept and Role of Mutual Fund</key>
			<integer>6</integer>
			<key>Fund Distribution and Channel Management</key>
			<integer>8</integer>
			<key>Investment Landscape</key>
			<integer>7</integer>
			<key>Investor Services</key>
			<integer>12</integer>
			<key>Legal Structure of Mutual Funds</key>
			<integer>4</integer>
			<key>Legal and Regulatory Framework</key>
			<integer>11</integer>
			<key>NAV TER and Pricing</key>
			<integer>10</integer>
			<key>Risk Return and Performance</key>
			<integer>10</integer>
			<key>Scheme Performance</key>
			<integer>7</integer>
			<key>Scheme Related Information</key>
			<integer>7</integer>
			<key>Scheme Selection</key>
			<integer>12</integer>
			<key>Taxation</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>Series V-B - Mutual Fund Foundation</key>
	<dict>
		<key>examCode</key>
		<string>V-B</string>
		<key>topics</key>
		<dict>
			<key>MF Products for New Cadre</key>
			<integer>6</integer>
			<key>VB Concept and Role of Mutual Fund</key>
			<integer>12</integer>
			<key>VB Fund Distribution and Channel Management</key>
			<integer>10</integer>
			<key>VB Investment Landscape</key>
			<integer>6</integer>
			<key>VB Investor Services</key>
			<integer>20</integer>
			<key>VB Legal Structure of Mutual Funds</key>
			<integer>8</integer>
			<key>VB Legal and Regulatory Environment</key>
			<integer>8</integer>
			<key>VB Performance of Mutual Funds</key>
			<integer>12</integer>
			<key>VB Scheme Related Information</key>
			<integer>12</integer>
			<key>VB Taxation</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>Series VI - Depository Operations</key>
	<dict>
		<key>examCode</key>
		<string>VI</string>
		<key>topics</key>
		<dict>
			<key>VI Debt Instruments and Government Securities</key>
			<integer>10</integer>
			<key>VI Dematerialisation</key>
			<integer>9</integer>
			<key>VI Depository and its Business Partners</key>
			<integer>12</integer>
			<key>VI Foreign Portfolio Investors</key>
			<integer>2</integer>
			<key>VI Functions of DP Account Opening</key>
			<integer>12</integer>
			<key>VI Functions of DP Account Operations</key>
			<integer>3</integer>
			<key>VI Introduction to Depository</key>
			<integer>10</integer>
			<key>VI Introduction to the Indian Capital Market</key>
			<integer>5</integer>
			<key>VI Investor Services</key>
			<integer>2</integer>
			<key>VI Pledge and Hypothecation</key>
			<integer>10</integer>
			<key>VI Public Offering and Corporate Actions</key>
			<integer>7</integer>
			<key>VI Trading and Settlement</key>
			<integer>13</integer>
			<key>VI Transmission and Nomination</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>Series VII - Securities Operations and Risk Management</key>
	<dict>
		<key>examCode</key>
		<string>VII</string>
		<key>topics</key>
		<dict>
			<key>VII Clearing Process</key>
			<integer>15</integer>
			<key>VII Introduction to Securities Broking Operations</key>
			<integer>20</integer>
			<key>VII Introduction to Securities Market</key>
			<integer>5</integer>
			<key>VII Investor Grievances and Arbitration</key>
			<integer>10</integer>
			<key>VII Market Participants in Securities Markets</key>
			<integer>10</integer>
			<key>VII Other Services Provided by Brokers</key>
			<integer>10</integer>
			<key>VII Risk Management</key>
			<integer>15</integer>
			<key>VII Settlement Process</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>Series VIII - Equity Derivatives</key>
	<dict>
		<key>examCode</key>
		<string>VIII</string>
		<key>topics</key>
		<dict>
			<key>VIII Accounting and Taxation</key>
			<integer>3</integer>
			<key>VIII Basics of Derivatives</key>
			<integer>8</integer>
			<key>VIII Introduction to Clearing and Settlement System</key>
			<integer>13</integer>
			<key>VIII Introduction to Forwards and Futures</key>
			<integer>25</integer>
			<key>VIII Introduction to Options</key>
			<integer>25</integer>
			<key>VIII Introduction to Trading Systems</key>
			<integer>4</integer>
			<key>VIII Legal and Regulatory Environment</key>
			<integer>15</integer>
			<key>VIII Option Trading Strategies</key>
			<integer>3</integer>
			<key>VIII Sales Practices and Investor Protection Services</key>
			<integer>2</integer>
			<key>VIII Understanding Index</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>Series X-A - Investment Adviser Level 1</key>
	<dict>
		<key>examCode</key>
		<string>X-A</string>
		<key>topics</key>
		<dict>
			<key>XA Indian Financial Markets</key>
			<integer>7</integer>
			<key>XA Investment Products</key>
			<integer>20</integer>
			<key>XA Managed Portfolios</key>
			<integer>15</integer>
			<key>XA Operations Regulation and Ethics</key>
			<integer>20</integer>
			<key>XA Personal Financial Planning</key>
			<integer>25</integer>
			<key>XA Portfolio Construction and Evaluation</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>Series X-B - Investment Adviser Level 2</key>
	<dict>
		<key>examCode</key>
		<string>X-B</string>
		<key>topics</key>
		<dict>
			<key>Alternative Investments</key>
			<integer>5</integer>
			<key>Analysis of Equity and Debt Instruments</key>
			<integer>8</integer>
			<key>Basics of Insurance</key>
			<integer>7</integer>
			<key>Behavioral Finance</key>
			<integer>5</integer>
			<key>Case Studies</key>
			<integer>6</integer>
			<key>Clubbing, Set-Off and Carry Forward of Losses</key>
			<integer>5</integer>
			<key>Commodity and Real Estate Investment</key>
			<integer>5</integer>
			<key>DTAA Provisions</key>
			<integer>3</integer>
			<key>Exempt Incomes, Deductions, Rebates</key>
			<integer>5</integer>
			<key>Income, Residential Status, Five Heads of Income</key>
			<integer>5</integer>
			<key>Life Insurance Products</key>
			<integer>5</integer>
			<key>Portfolio Creation for Retirement</key>
			<integer>5</integer>
			<key>Product Comparison</key>
			<integer>5</integer>
			<key>Regulatory and Ethical Aspects</key>
			<integer>5</integer>
			<key>Retirement Products - Accumulation and Distribution</key>
			<integer>7</integer>
			<key>Risk Profiling</key>
			<integer>7</integer>
			<key>Tax Framework and Key Concepts</key>
			<integer>7</integer>
			<key>Taxation of Debt and Equity Products</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>Series X-C - Investment Adviser Renewal</key>
	<dict>
		<key>examCode</key>
		<string>X-C</string>
		<key>topics</key>
		<dict>
			<key>XC Case Studies and Practical Application</key>
			<integer>15</integer>
			<key>XC Compliance and Ethics Updates</key>
			<integer>20</integer>
			<key>XC Financial Planning Concepts Review</key>
			<integer>20</integer>
			<key>XC Investment Products and Market Developments</key>
			<integer>20</integer>
			<key>XC Regulatory Updates and Amendments</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>Series XII - Securities Markets Foundation</key>
	<dict>
		<key>examCode</key>
		<string>XII</string>
		<key>topics</key>
		<dict>
			<key>Derivative Markets</key>
			<integer>10</integer>
			<key>Mutual Funds</key>
			<integer>20</integer>
			<key>Primary Markets</key>
			<integer>20</integer>
			<key>Secondary Markets</key>
			<integer>20</integer>
			<key>Securities Types Features and Asset Allocation Concepts</key>
			<integer>20</integer>
			<key>Understanding Securities Markets and Performance</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Series XIII - Common Derivatives (Composite)</key>
	<dict>
		<key>examCode</key>
		<string>XIII</string>
		<key>topics</key>
		<dict>
			<key>XIII Accounting and Taxation</key>
			<integer>4</integer>
			<key>XIII Basics of Derivatives</key>
			<integer>4</integer>
			<key>XIII Introduction to Forwards and Futures</key>
			<integer>13</integer>
			<key>XIII Introduction to Options</key>
			<integer>15</integer>
			<key>XIII Introduction to the Underlying Markets</key>
			<integer>16</integer>
			<key>XIII Legal and Regulatory Environment</key>
			<integer>9</integer>
			<key>XIII Option Trading Strategies</key>
			<integer>3</integer>
			<key>XIII Sales Practices, Code of Conduct and Investor Protection</key>
			<integer>3</integer>
			<key>XIII Strategies Using Futures</key>
			<integer>16</integer>
			<key>XIII Trading, Clearing, Settlement and Risk Management</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>Series XIX-A - AIF Distributors (Cat I and II)</key>
	<dict>
		<key>examCode</key>
		<string>XIX-A</string>
		<key>topics</key>
		<dict>
			<key>AIF Fund Due Diligence</key>
			<integer>15</integer>
			<key>AIF Fund Monitoring and Exit</key>
			<integer>5</integer>
			<key>AIF Fund Structuring</key>
			<integer>10</integer>
			<key>AIF Industry Concepts</key>
			<integer>5</integer>
			<key>AIF Investment Process and Governance</key>
			<integer>10</integer>
			<key>AIF Legal Documentation</key>
			<integer>10</integer>
			<key>AIF Overview and Indian Market</key>
			<integer>5</integer>
			<key>AIF Regulatory Framework</key>
			<integer>10</integer>
			<key>AIF Risk and Return</key>
			<integer>10</integer>
			<key>AIF Valuation Taxation and Good Practices</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>Series XIX-A - AIF Distributors (Category I and II)</key>
	<dict>
		<key>examCode</key>
		<string>XIX-A</string>
		<key>topics</key>
		<dict>
			<key>Fund Structure and Fee Structure</key>
			<integer>15</integer>
			<key>Introduction to Alternative Investment Funds (Category I and II)</key>
			<integer>15</integer>
			<key>Investment Strategies and Due Diligence</key>
			<integer>15</integer>
			<key>NAV Concept and Valuation Techniques</key>
			<integer>12</integer>
			<key>Performance Measurement and Benchmarking</key>
			<integer>15</integer>
			<key>Regulatory Environment for AIFs in India</key>
			<integer>15</integer>
			<key>Taxation Aspects for Fund and Investors</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>Series XIX-B - AIF Distributors (Category III)</key>
	<dict>
		<key>examCode</key>
		<string>XIX-B</string>
		<key>topics</key>
		<dict>
			<key>Alternative Asset Classes and Category III AIF Markets in India</key>
			<integer>15</integer>
			<key>Fund Structure and Fee Structure</key>
			<integer>14</integer>
			<key>Investment Strategies and Due Diligence Process</key>
			<integer>15</integer>
			<key>NAV Concept, Valuation Techniques, Third-Party Valuers</key>
			<integer>13</integer>
			<key>Performance Measurement, Interpretations, and Benchmarking</key>
			<integer>14</integer>
			<key>Regulatory Environment for Category III AIFs</key>
			<integer>15</integer>
			<key>Taxation (Domestic and IFSC Jurisdictions)</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>Series XIX-C - AIF Managers (All Categories)</key>
	<dict>
		<key>examCode</key>
		<string>XIX-C</string>
		<key>topics</key>
		<dict>
			<key>AIF Ecosystem</key>
			<integer>5</integer>
			<key>AIFs in India and Suitability</key>
			<integer>3</integer>
			<key>Due Diligence (Investor Perspective)</key>
			<integer>7</integer>
			<key>Fee Structure and Fund Performance</key>
			<integer>15</integer>
			<key>Fund Monitoring, Reporting, and Exit</key>
			<integer>5</integer>
			<key>Fund Structuring</key>
			<integer>10</integer>
			<key>Indices and Benchmarking</key>
			<integer>3</integer>
			<key>Informational Efficiency</key>
			<integer>3</integer>
			<key>Investment Landscape and Types</key>
			<integer>5</integer>
			<key>Investment Strategies and Governance</key>
			<integer>13</integer>
			<key>Legal Documents and Negotiations</key>
			<integer>7</integer>
			<key>Modern Portfolio Theory and Capital Market Theory</key>
			<integer>4</integer>
			<key>Regulatory Framework</key>
			<integer>7</integer>
			<key>Taxation</key>
			<integer>6</integer>
			<key>Valuation</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>Series XIX-D - AIF Managers (Category I and II)</key>
	<dict>
		<key>examCode</key>
		<string>XIX-D</string>
		<key>topics</key>
		<dict>
			<key>AIF Ecosystem</key>
			<integer>5</integer>
			<key>AIF Structuring</key>
			<integer>10</integer>
			<key>AIFs in India and Suitability</key>
			<integer>2</integer>
			<key>Fee Structure</key>
			<integer>10</integer>
			<key>Fund Monitoring and Exit</key>
			<integer>10</integer>
			<key>Fund Performance and Benchmarking</key>
			<integer>10</integer>
			<key>Investment Process and Governance</key>
			<integer>10</integer>
			<key>Investment Strategies (Category I and II)</key>
			<integer>10</integer>
			<key>Investments Landscape and Types</key>
			<integer>2</integer>
			<key>Legal Documents</key>
			<integer>6</integer>
			<key>Regulatory Framework</key>
			<integer>10</integer>
			<key>Taxation</key>
			<integer>5</integer>
			<key>Valuation</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Series XIX-E - AIF Managers (Category III)</key>
	<dict>
		<key>examCode</key>
		<string>XIX-E</string>
		<key>topics</key>
		<dict>
			<key>AIF Ecosystem</key>
			<integer>5</integer>
			<key>AIF Structuring</key>
			<integer>10</integer>
			<key>AIFs in India and Suitability</key>
			<integer>3</integer>
			<key>Fee Structure and Fund Performance</key>
			<integer>10</integer>
			<key>Fund Monitoring, Reporting, Exit</key>
			<integer>10</integer>
			<key>Governance and Due Diligence</key>
			<integer>7</integer>
			<key>Indices and Benchmarking</key>
			<integer>4</integer>
			<key>Investment Landscape, Types, Modern Portfolio Theory</key>
			<integer>3</integer>
			<key>Investment Strategies (Category III)</key>
			<integer>12</integer>
			<key>Legal Documentation</key>
			<integer>8</integer>
			<key>Regulatory Framework</key>
			<integer>10</integer>
			<key>Taxation</key>
			<integer>8</integer>
			<key>Valuation</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Series XV - Research Analyst</key>
	<dict>
		<key>examCode</key>
		<string>XV</string>
		<key>topics</key>
		<dict>
			<key>Company Analysis</key>
			<integer>23</integer>
			<key>Economic Analysis</key>
			<integer>5</integer>
			<key>Fundamental Analysis and Valuation Techniques</key>
			<integer>24</integer>
			<key>Fundamentals of Research</key>
			<integer>10</integer>
			<key>Industry Analysis</key>
			<integer>8</integer>
			<key>Introduction to Research Analyst Profession</key>
			<integer>1</integer>
			<key>Introduction to Securities Market</key>
			<integer>2</integer>
			<key>Regulatory Requirements for Research Analysts</key>
			<integer>15</integer>
			<key>Technical Analysis</key>
			<integer>15</integer>
			<key>Terminology in Equity and Debt Markets</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>Series XVI - Commodity Derivatives</key>
	<dict>
		<key>examCode</key>
		<string>XVI</string>
		<key>topics</key>
		<dict>
			<key>XVI Accounting and Taxation</key>
			<integer>5</integer>
			<key>XVI Clearing, Settlement and Risk Management</key>
			<integer>15</integer>
			<key>XVI Code of Conduct and Investor Protection</key>
			<integer>5</integer>
			<key>XVI Commodity Futures</key>
			<integer>15</integer>
			<key>XVI Commodity Indices</key>
			<integer>5</integer>
			<key>XVI Commodity Options</key>
			<integer>15</integer>
			<key>XVI Introduction to Commodity Markets</key>
			<integer>10</integer>
			<key>XVI Legal and Regulatory Environment</key>
			<integer>10</integer>
			<key>XVI Trading Mechanism</key>
			<integer>10</integer>
			<key>XVI Uses of Commodity Derivatives</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Series XVII - Retirement Adviser</key>
	<dict>
		<key>examCode</key>
		<string>XVII</string>
		<key>topics</key>
		<dict>
			<key>Evaluating Fund Performance and Fund Selection</key>
			<integer>10</integer>
			<key>Financial Markets and Investment Products</key>
			<integer>10</integer>
			<key>Fundamental Concepts in Retirement Planning</key>
			<integer>5</integer>
			<key>Regulations and Regulators</key>
			<integer>10</integer>
			<key>Retirement Planning Process</key>
			<integer>15</integer>
			<key>Retirement Planning Products: National Pension System (NPS)</key>
			<integer>20</integer>
			<key>Retirement Planning Products: Other Investment Products</key>
			<integer>8</integer>
			<key>Retirement Planning Strategies</key>
			<integer>12</integer>
			<key>Special Considerations in Retirement</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Series XXI-A - PMS Distributors</key>
	<dict>
		<key>examCode</key>
		<string>XXI-A</string>
		<key>topics</key>
		<dict>
			<key>Distributor Roles and Responsibilities</key>
			<integer>17</integer>
			<key>Introduction to Portfolio Management Services</key>
			<integer>18</integer>
			<key>Investment Products and Strategies</key>
			<integer>17</integer>
			<key>Investor Protection and Code of Conduct</key>
			<integer>15</integer>
			<key>PMS Regulations and Compliance</key>
			<integer>18</integer>
			<key>Securities Markets Overview</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>Series XXI-B - Portfolio Managers</key>
	<dict>
		<key>examCode</key>
		<string>XXI-B</string>
		<key>topics</key>
		<dict>
			<key>Derivatives and Derivative Products</key>
			<integer>10</integer>
			<key>Equity Portfolio Management Strategies</key>
			<integer>12</integer>
			<key>Fixed Income Portfolio Management Strategies</key>
			<integer>10</integer>
			<key>Introduction to Securities Markets</key>
			<integer>8</integer>
			<key>Investing in Fixed Income Securities</key>
			<integer>12</integer>
			<key>Investing in Stocks</key>
			<integer>12</integer>
			<key>Modern Portfolio Theory</key>
			<integer>10</integer>
			<key>Performance Measurement and Evaluation</key>
			<integer>8</integer>
			<key>Portfolio Management Services</key>
			<integer>8</integer>
			<key>Regulatory, Governance and Ethical Aspects</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Series XXIII - Social Impact Assessors</key>
	<dict>
		<key>examCode</key>
		<string>XXIII</string>
		<key>topics</key>
		<dict>
			<key>Disclosure Norms and Reporting Requirements</key>
			<integer>15</integer>
			<key>Key Regulations</key>
			<integer>12</integer>
			<key>SEBI ICDR Regulations and LODR Regulations for SSE</key>
			<integer>15</integer>
			<key>Social Impact Assessment Frameworks, Techniques and Standards</key>
			<integer>18</integer>
			<key>Social Impact Assessment and Social Impact Assessors</key>
			<integer>15</integer>
			<key>Social Stock Exchange Framework</key>
			<integer>17</integer>
			<key>Taxation Aspects</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Series XXIV - AML and CFT Provisions</key>
	<dict>
		<key>examCode</key>
		<string>XXIV</string>
		<key>topics</key>
		<dict>
			<key>AML, CFT and PF Guidelines</key>
			<integer>12</integer>
			<key>AML_CFT_Guidelines</key>
			<integer>10</integer>
			<key>Discussion on PMLA-related Cases</key>
			<integer>12</integer>
			<key>Introduction to AML, CFT and Proliferation Financing</key>
			<integer>12</integer>
			<key>KYC Guidelines</key>
			<integer>14</integer>
			<key>Prevention of Money Laundering Act, 2002</key>
			<integer>14</integer>
			<key>SEBI Guidelines for AML Standards, CFT and PF with KYC Norms</key>
			<integer>16</integer>
			<key>Scheduled Offences under PMLA</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Series XXV-A - Research Services (Sales)</key>
	<dict>
		<key>examCode</key>
		<string>XXV-A</string>
		<key>topics</key>
		<dict>
			<key>XXVA Code of Conduct and Ethical Standards</key>
			<integer>18</integer>
			<key>XXVA Introduction to Research Analyst Framework</key>
			<integer>22</integer>
			<key>XXVA Investor Protection Measures</key>
			<integer>18</integer>
			<key>XXVA Regulatory Compliance for Non-Core Research Personnel</key>
			<integer>20</integer>
			<key>XXVA Sales and Distribution of Research Services</key>
			<integer>22</integer>
		</dict>
	</dict>
</dict>
</plist>
