<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AML, CFT and PF Guidelines</key>
	<array>
		<string>AML, CFT and PF Guidelines_1</string>
		<string>AML, CFT and PF Guidelines_2</string>
		<string>AML, CFT and PF Guidelines_3</string>
		<string>AML, CFT and PF Guidelines_4</string>
		<string>AML, CFT and PF Guidelines_5</string>
	</array>
	<key>AML_CFT_Guidelines</key>
	<array>
		<string>AML_CFT_Guidelines_1</string>
		<string>AML_CFT_Guidelines_2</string>
		<string>AML_CFT_Guidelines_3</string>
		<string>AML_CFT_Guidelines_4</string>
		<string>AML_CFT_Guidelines_5</string>
		<string>AML_CFT_Guidelines_6</string>
		<string>AML_CFT_Guidelines_7</string>
	</array>
	<key>Concept and Role of Mutual Fund</key>
	<array>
		<string>Concept and Role of Mutual Fund_1</string>
		<string>Concept and Role of Mutual Fund_2</string>
		<string>Concept and Role of Mutual Fund_3</string>
		<string>Concept and Role of Mutual Fund_4</string>
		<string>Concept and Role of Mutual Fund_5</string>
		<string>Concept and Role of Mutual Fund_6</string>
		<string>Concept and Role of Mutual Fund_7</string>
		<string>Concept and Role of Mutual Fund_8</string>
		<string>Concept and Role of Mutual Fund_9</string>
	</array>
	<key>Derivative Markets</key>
	<array>
		<string>Derivative Markets_1</string>
		<string>Derivative Markets_2</string>
		<string>Derivative Markets_3</string>
		<string>Derivative Markets_4</string>
		<string>Derivative Markets_5</string>
		<string>Derivative Markets_6</string>
		<string>Derivative Markets_7</string>
		<string>Derivative Markets_8</string>
		<string>Derivative Markets_9</string>
	</array>
	<key>Discussion on PMLA-related Cases</key>
	<array>
		<string>Discussion on PMLA-related Cases_1</string>
		<string>Discussion on PMLA-related Cases_2</string>
		<string>Discussion on PMLA-related Cases_3</string>
		<string>Discussion on PMLA-related Cases_4</string>
		<string>Discussion on PMLA-related Cases_5</string>
	</array>
	<key>Fund Distribution and Channel Management</key>
	<array>
		<string>Fund Distribution and Channel Management_1</string>
		<string>Fund Distribution and Channel Management_2</string>
		<string>Fund Distribution and Channel Management_3</string>
		<string>Fund Distribution and Channel Management_4</string>
		<string>Fund Distribution and Channel Management_5</string>
		<string>Fund Distribution and Channel Management_6</string>
		<string>Fund Distribution and Channel Management_7</string>
		<string>Fund Distribution and Channel Management_8</string>
		<string>Fund Distribution and Channel Management_9</string>
		<string>Fund Distribution and Channel Management_10</string>
		<string>Fund Distribution and Channel Management_11</string>
		<string>Fund Distribution and Channel Management_12</string>
		<string>Fund Distribution and Channel Management_13</string>
		<string>Fund Distribution and Channel Management_14</string>
		<string>Fund Distribution and Channel Management_15</string>
		<string>Fund Distribution and Channel Management_16</string>
	</array>
	<key>I Accounting and Taxation</key>
	<array>
		<string>I Accounting and Taxation_1</string>
		<string>I Accounting and Taxation_2</string>
		<string>I Accounting and Taxation_3</string>
		<string>I Accounting and Taxation_4</string>
		<string>I Accounting and Taxation_5</string>
		<string>I Accounting and Taxation_6</string>
		<string>I Accounting and Taxation_7</string>
		<string>I Accounting and Taxation_8</string>
	</array>
	<key>I Clearing Settlement and Risk Management</key>
	<array>
		<string>I Clearing Settlement and Risk Management_1</string>
		<string>I Clearing Settlement and Risk Management_2</string>
		<string>I Clearing Settlement and Risk Management_3</string>
		<string>I Clearing Settlement and Risk Management_4</string>
		<string>I Clearing Settlement and Risk Management_5</string>
		<string>I Clearing Settlement and Risk Management_6</string>
		<string>I Clearing Settlement and Risk Management_7</string>
		<string>I Clearing Settlement and Risk Management_8</string>
		<string>I Clearing Settlement and Risk Management_9</string>
		<string>I Clearing Settlement and Risk Management_10</string>
		<string>I Clearing Settlement and Risk Management_11</string>
		<string>I Clearing Settlement and Risk Management_12</string>
		<string>I Clearing Settlement and Risk Management_13</string>
		<string>I Clearing Settlement and Risk Management_14</string>
		<string>I Clearing Settlement and Risk Management_15</string>
		<string>I Clearing Settlement and Risk Management_16</string>
		<string>I Clearing Settlement and Risk Management_17</string>
	</array>
	<key>I Codes of Conduct and Investor Protection</key>
	<array>
		<string>I Codes of Conduct and Investor Protection_1</string>
		<string>I Codes of Conduct and Investor Protection_2</string>
		<string>I Codes of Conduct and Investor Protection_3</string>
		<string>I Codes of Conduct and Investor Protection_4</string>
		<string>I Codes of Conduct and Investor Protection_5</string>
		<string>I Codes of Conduct and Investor Protection_6</string>
		<string>I Codes of Conduct and Investor Protection_7</string>
		<string>I Codes of Conduct and Investor Protection_8</string>
	</array>
	<key>I Exchange Traded Currency Futures</key>
	<array>
		<string>I Exchange Traded Currency Futures_1</string>
		<string>I Exchange Traded Currency Futures_2</string>
		<string>I Exchange Traded Currency Futures_3</string>
		<string>I Exchange Traded Currency Futures_4</string>
		<string>I Exchange Traded Currency Futures_5</string>
		<string>I Exchange Traded Currency Futures_6</string>
		<string>I Exchange Traded Currency Futures_7</string>
		<string>I Exchange Traded Currency Futures_8</string>
		<string>I Exchange Traded Currency Futures_9</string>
		<string>I Exchange Traded Currency Futures_10</string>
		<string>I Exchange Traded Currency Futures_11</string>
		<string>I Exchange Traded Currency Futures_12</string>
		<string>I Exchange Traded Currency Futures_13</string>
		<string>I Exchange Traded Currency Futures_14</string>
		<string>I Exchange Traded Currency Futures_15</string>
		<string>I Exchange Traded Currency Futures_16</string>
		<string>I Exchange Traded Currency Futures_17</string>
		<string>I Exchange Traded Currency Futures_18</string>
		<string>I Exchange Traded Currency Futures_19</string>
		<string>I Exchange Traded Currency Futures_20</string>
		<string>I Exchange Traded Currency Futures_21</string>
		<string>I Exchange Traded Currency Futures_22</string>
		<string>I Exchange Traded Currency Futures_23</string>
		<string>I Exchange Traded Currency Futures_24</string>
		<string>I Exchange Traded Currency Futures_25</string>
		<string>I Exchange Traded Currency Futures_26</string>
		<string>I Exchange Traded Currency Futures_27</string>
		<string>I Exchange Traded Currency Futures_28</string>
		<string>I Exchange Traded Currency Futures_29</string>
		<string>I Exchange Traded Currency Futures_30</string>
		<string>I Exchange Traded Currency Futures_31</string>
		<string>I Exchange Traded Currency Futures_32</string>
		<string>I Exchange Traded Currency Futures_33</string>
		<string>I Exchange Traded Currency Futures_34</string>
		<string>I Exchange Traded Currency Futures_35</string>
	</array>
	<key>I Exchange Traded Currency Options</key>
	<array>
		<string>I Exchange Traded Currency Options_1</string>
		<string>I Exchange Traded Currency Options_2</string>
		<string>I Exchange Traded Currency Options_3</string>
		<string>I Exchange Traded Currency Options_4</string>
		<string>I Exchange Traded Currency Options_5</string>
		<string>I Exchange Traded Currency Options_6</string>
		<string>I Exchange Traded Currency Options_7</string>
		<string>I Exchange Traded Currency Options_8</string>
		<string>I Exchange Traded Currency Options_9</string>
		<string>I Exchange Traded Currency Options_10</string>
		<string>I Exchange Traded Currency Options_11</string>
		<string>I Exchange Traded Currency Options_12</string>
		<string>I Exchange Traded Currency Options_13</string>
		<string>I Exchange Traded Currency Options_14</string>
		<string>I Exchange Traded Currency Options_15</string>
		<string>I Exchange Traded Currency Options_16</string>
		<string>I Exchange Traded Currency Options_17</string>
		<string>I Exchange Traded Currency Options_18</string>
		<string>I Exchange Traded Currency Options_19</string>
		<string>I Exchange Traded Currency Options_20</string>
		<string>I Exchange Traded Currency Options_21</string>
		<string>I Exchange Traded Currency Options_22</string>
		<string>I Exchange Traded Currency Options_23</string>
		<string>I Exchange Traded Currency Options_24</string>
		<string>I Exchange Traded Currency Options_25</string>
		<string>I Exchange Traded Currency Options_26</string>
		<string>I Exchange Traded Currency Options_27</string>
		<string>I Exchange Traded Currency Options_28</string>
		<string>I Exchange Traded Currency Options_29</string>
		<string>I Exchange Traded Currency Options_30</string>
		<string>I Exchange Traded Currency Options_31</string>
		<string>I Exchange Traded Currency Options_32</string>
		<string>I Exchange Traded Currency Options_33</string>
		<string>I Exchange Traded Currency Options_34</string>
		<string>I Exchange Traded Currency Options_35</string>
	</array>
	<key>I Foreign Exchange Derivatives</key>
	<array>
		<string>I Foreign Exchange Derivatives_1</string>
		<string>I Foreign Exchange Derivatives_2</string>
		<string>I Foreign Exchange Derivatives_3</string>
		<string>I Foreign Exchange Derivatives_4</string>
		<string>I Foreign Exchange Derivatives_5</string>
		<string>I Foreign Exchange Derivatives_6</string>
		<string>I Foreign Exchange Derivatives_7</string>
		<string>I Foreign Exchange Derivatives_8</string>
	</array>
	<key>I Introduction to Currency Markets</key>
	<array>
		<string>I Introduction to Currency Markets_1</string>
		<string>I Introduction to Currency Markets_2</string>
		<string>I Introduction to Currency Markets_3</string>
		<string>I Introduction to Currency Markets_4</string>
		<string>I Introduction to Currency Markets_5</string>
		<string>I Introduction to Currency Markets_6</string>
		<string>I Introduction to Currency Markets_7</string>
		<string>I Introduction to Currency Markets_8</string>
		<string>I Introduction to Currency Markets_9</string>
		<string>I Introduction to Currency Markets_10</string>
		<string>I Introduction to Currency Markets_11</string>
		<string>I Introduction to Currency Markets_12</string>
		<string>I Introduction to Currency Markets_13</string>
		<string>I Introduction to Currency Markets_14</string>
		<string>I Introduction to Currency Markets_15</string>
		<string>I Introduction to Currency Markets_16</string>
		<string>I Introduction to Currency Markets_17</string>
	</array>
	<key>I Regulatory Framework</key>
	<array>
		<string>I Regulatory Framework_1</string>
		<string>I Regulatory Framework_2</string>
		<string>I Regulatory Framework_3</string>
		<string>I Regulatory Framework_4</string>
		<string>I Regulatory Framework_5</string>
		<string>I Regulatory Framework_6</string>
		<string>I Regulatory Framework_7</string>
		<string>I Regulatory Framework_8</string>
	</array>
	<key>I Strategies Using Currency Derivatives</key>
	<array>
		<string>I Strategies Using Currency Derivatives_1</string>
		<string>I Strategies Using Currency Derivatives_2</string>
		<string>I Strategies Using Currency Derivatives_3</string>
		<string>I Strategies Using Currency Derivatives_4</string>
		<string>I Strategies Using Currency Derivatives_5</string>
		<string>I Strategies Using Currency Derivatives_6</string>
		<string>I Strategies Using Currency Derivatives_7</string>
		<string>I Strategies Using Currency Derivatives_8</string>
		<string>I Strategies Using Currency Derivatives_9</string>
		<string>I Strategies Using Currency Derivatives_10</string>
		<string>I Strategies Using Currency Derivatives_11</string>
		<string>I Strategies Using Currency Derivatives_12</string>
		<string>I Strategies Using Currency Derivatives_13</string>
		<string>I Strategies Using Currency Derivatives_14</string>
		<string>I Strategies Using Currency Derivatives_15</string>
		<string>I Strategies Using Currency Derivatives_16</string>
		<string>I Strategies Using Currency Derivatives_17</string>
	</array>
	<key>I Trading Mechanism</key>
	<array>
		<string>I Trading Mechanism_1</string>
		<string>I Trading Mechanism_2</string>
		<string>I Trading Mechanism_3</string>
		<string>I Trading Mechanism_4</string>
		<string>I Trading Mechanism_5</string>
		<string>I Trading Mechanism_6</string>
		<string>I Trading Mechanism_7</string>
		<string>I Trading Mechanism_8</string>
		<string>I Trading Mechanism_9</string>
		<string>I Trading Mechanism_10</string>
		<string>I Trading Mechanism_11</string>
		<string>I Trading Mechanism_12</string>
		<string>I Trading Mechanism_13</string>
		<string>I Trading Mechanism_14</string>
		<string>I Trading Mechanism_15</string>
		<string>I Trading Mechanism_16</string>
		<string>I Trading Mechanism_17</string>
	</array>
	<key>IFSCA AML CFT KYC Guidelines</key>
	<array>
		<string>IFSCA AML CFT KYC Guidelines_1</string>
		<string>IFSCA AML CFT KYC Guidelines_2</string>
		<string>IFSCA AML CFT KYC Guidelines_3</string>
		<string>IFSCA AML CFT KYC Guidelines_4</string>
		<string>IFSCA AML CFT KYC Guidelines_5</string>
		<string>IFSCA AML CFT KYC Guidelines_6</string>
		<string>IFSCA AML CFT KYC Guidelines_7</string>
	</array>
	<key>IFSCA FATF Recommendations</key>
	<array>
		<string>IFSCA FATF Recommendations_1</string>
		<string>IFSCA FATF Recommendations_2</string>
		<string>IFSCA FATF Recommendations_3</string>
		<string>IFSCA FATF Recommendations_4</string>
		<string>IFSCA FATF Recommendations_5</string>
		<string>IFSCA FATF Recommendations_6</string>
		<string>IFSCA FATF Recommendations_7</string>
	</array>
	<key>IFSCA Introduction to AML CFT and PF</key>
	<array>
		<string>IFSCA Introduction to AML CFT and PF_1</string>
		<string>IFSCA Introduction to AML CFT and PF_2</string>
		<string>IFSCA Introduction to AML CFT and PF_3</string>
		<string>IFSCA Introduction to AML CFT and PF_4</string>
	</array>
	<key>IFSCA KYC Norms</key>
	<array>
		<string>IFSCA KYC Norms_1</string>
		<string>IFSCA KYC Norms_2</string>
		<string>IFSCA KYC Norms_3</string>
		<string>IFSCA KYC Norms_4</string>
		<string>IFSCA KYC Norms_5</string>
		<string>IFSCA KYC Norms_6</string>
		<string>IFSCA KYC Norms_7</string>
		<string>IFSCA KYC Norms_8</string>
		<string>IFSCA KYC Norms_9</string>
		<string>IFSCA KYC Norms_10</string>
	</array>
	<key>IFSCA Maintenance of Records Rules</key>
	<array>
		<string>IFSCA Maintenance of Records Rules_1</string>
		<string>IFSCA Maintenance of Records Rules_2</string>
		<string>IFSCA Maintenance of Records Rules_3</string>
		<string>IFSCA Maintenance of Records Rules_4</string>
		<string>IFSCA Maintenance of Records Rules_5</string>
		<string>IFSCA Maintenance of Records Rules_6</string>
	</array>
	<key>IFSCA PMLA 2002</key>
	<array>
		<string>IFSCA PMLA 2002_1</string>
		<string>IFSCA PMLA 2002_2</string>
		<string>IFSCA PMLA 2002_3</string>
		<string>IFSCA PMLA 2002_4</string>
		<string>IFSCA PMLA 2002_5</string>
		<string>IFSCA PMLA 2002_6</string>
	</array>
	<key>IFSCA PMLA Related Cases</key>
	<array>
		<string>IFSCA PMLA Related Cases_1</string>
		<string>IFSCA PMLA Related Cases_2</string>
		<string>IFSCA PMLA Related Cases_3</string>
	</array>
	<key>IFSCA Scheduled Offences</key>
	<array>
		<string>IFSCA Scheduled Offences_1</string>
		<string>IFSCA Scheduled Offences_2</string>
	</array>
	<key>Introduction to AML, CFT and Proliferation Financing</key>
	<array>
		<string>Introduction to AML, CFT and Proliferation Financing_1</string>
		<string>Introduction to AML, CFT and Proliferation Financing_2</string>
		<string>Introduction to AML, CFT and Proliferation Financing_3</string>
		<string>Introduction to AML, CFT and Proliferation Financing_4</string>
		<string>Introduction to AML, CFT and Proliferation Financing_5</string>
		<string>Introduction to AML, CFT and Proliferation Financing_6</string>
		<string>Introduction to AML, CFT and Proliferation Financing_7</string>
	</array>
	<key>Investment Landscape</key>
	<array>
		<string>Investment Landscape_1</string>
		<string>Investment Landscape_2</string>
		<string>Investment Landscape_3</string>
		<string>Investment Landscape_4</string>
		<string>Investment Landscape_5</string>
		<string>Investment Landscape_6</string>
		<string>Investment Landscape_7</string>
		<string>Investment Landscape_8</string>
		<string>Investment Landscape_9</string>
		<string>Investment Landscape_10</string>
		<string>Investment Landscape_11</string>
	</array>
	<key>Investor Services</key>
	<array>
		<string>Investor Services_1</string>
		<string>Investor Services_2</string>
		<string>Investor Services_3</string>
		<string>Investor Services_4</string>
		<string>Investor Services_5</string>
		<string>Investor Services_6</string>
		<string>Investor Services_7</string>
		<string>Investor Services_8</string>
		<string>Investor Services_9</string>
		<string>Investor Services_10</string>
		<string>Investor Services_11</string>
		<string>Investor Services_12</string>
		<string>Investor Services_13</string>
		<string>Investor Services_14</string>
		<string>Investor Services_15</string>
		<string>Investor Services_16</string>
		<string>Investor Services_17</string>
		<string>Investor Services_18</string>
		<string>Investor Services_19</string>
		<string>Investor Services_20</string>
		<string>Investor Services_21</string>
	</array>
	<key>KYC Guidelines</key>
	<array>
		<string>KYC Guidelines_1</string>
		<string>KYC Guidelines_2</string>
		<string>KYC Guidelines_3</string>
		<string>KYC Guidelines_4</string>
		<string>KYC Guidelines_5</string>
		<string>KYC Guidelines_6</string>
		<string>KYC Guidelines_7</string>
	</array>
	<key>Legal Structure of Mutual Funds</key>
	<array>
		<string>Legal Structure of Mutual Funds_1</string>
		<string>Legal Structure of Mutual Funds_2</string>
		<string>Legal Structure of Mutual Funds_3</string>
		<string>Legal Structure of Mutual Funds_4</string>
		<string>Legal Structure of Mutual Funds_5</string>
		<string>Legal Structure of Mutual Funds_6</string>
		<string>Legal Structure of Mutual Funds_7</string>
	</array>
	<key>Legal and Regulatory Framework</key>
	<array>
		<string>Legal and Regulatory Framework_1</string>
		<string>Legal and Regulatory Framework_2</string>
		<string>Legal and Regulatory Framework_3</string>
		<string>Legal and Regulatory Framework_4</string>
		<string>Legal and Regulatory Framework_5</string>
		<string>Legal and Regulatory Framework_6</string>
		<string>Legal and Regulatory Framework_7</string>
		<string>Legal and Regulatory Framework_8</string>
		<string>Legal and Regulatory Framework_9</string>
		<string>Legal and Regulatory Framework_10</string>
		<string>Legal and Regulatory Framework_11</string>
		<string>Legal and Regulatory Framework_12</string>
		<string>Legal and Regulatory Framework_13</string>
		<string>Legal and Regulatory Framework_14</string>
		<string>Legal and Regulatory Framework_15</string>
		<string>Legal and Regulatory Framework_16</string>
		<string>Legal and Regulatory Framework_17</string>
		<string>Legal and Regulatory Framework_18</string>
		<string>Legal and Regulatory Framework_19</string>
		<string>Legal and Regulatory Framework_20</string>
	</array>
	<key>MF Products for New Cadre</key>
	<array>
		<string>MF Products for New Cadre_1</string>
		<string>MF Products for New Cadre_2</string>
		<string>MF Products for New Cadre_3</string>
		<string>MF Products for New Cadre_4</string>
		<string>MF Products for New Cadre_5</string>
	</array>
	<key>Mutual Funds</key>
	<array>
		<string>Mutual Funds_1</string>
		<string>Mutual Funds_2</string>
		<string>Mutual Funds_3</string>
		<string>Mutual Funds_4</string>
		<string>Mutual Funds_5</string>
		<string>Mutual Funds_6</string>
		<string>Mutual Funds_7</string>
		<string>Mutual Funds_8</string>
		<string>Mutual Funds_9</string>
		<string>Mutual Funds_10</string>
		<string>Mutual Funds_11</string>
		<string>Mutual Funds_12</string>
		<string>Mutual Funds_13</string>
		<string>Mutual Funds_14</string>
		<string>Mutual Funds_15</string>
		<string>Mutual Funds_16</string>
		<string>Mutual Funds_17</string>
		<string>Mutual Funds_18</string>
	</array>
	<key>NAV TER and Pricing</key>
	<array>
		<string>NAV TER and Pricing_1</string>
		<string>NAV TER and Pricing_2</string>
		<string>NAV TER and Pricing_3</string>
		<string>NAV TER and Pricing_4</string>
		<string>NAV TER and Pricing_5</string>
		<string>NAV TER and Pricing_6</string>
		<string>NAV TER and Pricing_7</string>
		<string>NAV TER and Pricing_8</string>
		<string>NAV TER and Pricing_9</string>
		<string>NAV TER and Pricing_10</string>
		<string>NAV TER and Pricing_11</string>
		<string>NAV TER and Pricing_12</string>
		<string>NAV TER and Pricing_13</string>
		<string>NAV TER and Pricing_14</string>
		<string>NAV TER and Pricing_15</string>
		<string>NAV TER and Pricing_16</string>
		<string>NAV TER and Pricing_17</string>
		<string>NAV TER and Pricing_18</string>
	</array>
	<key>Prevention of Money Laundering Act, 2002</key>
	<array>
		<string>Prevention of Money Laundering Act, 2002_1</string>
		<string>Prevention of Money Laundering Act, 2002_2</string>
		<string>Prevention of Money Laundering Act, 2002_3</string>
		<string>Prevention of Money Laundering Act, 2002_4</string>
		<string>Prevention of Money Laundering Act, 2002_5</string>
		<string>Prevention of Money Laundering Act, 2002_6</string>
		<string>Prevention of Money Laundering Act, 2002_7</string>
	</array>
	<key>Primary Markets</key>
	<array>
		<string>Primary Markets_1</string>
		<string>Primary Markets_2</string>
		<string>Primary Markets_3</string>
		<string>Primary Markets_4</string>
		<string>Primary Markets_5</string>
		<string>Primary Markets_6</string>
		<string>Primary Markets_7</string>
		<string>Primary Markets_8</string>
		<string>Primary Markets_9</string>
		<string>Primary Markets_10</string>
		<string>Primary Markets_11</string>
		<string>Primary Markets_12</string>
		<string>Primary Markets_13</string>
		<string>Primary Markets_14</string>
		<string>Primary Markets_15</string>
		<string>Primary Markets_16</string>
		<string>Primary Markets_17</string>
		<string>Primary Markets_18</string>
		<string>Primary Markets_19</string>
	</array>
	<key>Risk Return and Performance</key>
	<array>
		<string>Risk Return and Performance_1</string>
		<string>Risk Return and Performance_2</string>
		<string>Risk Return and Performance_3</string>
		<string>Risk Return and Performance_4</string>
		<string>Risk Return and Performance_5</string>
		<string>Risk Return and Performance_6</string>
		<string>Risk Return and Performance_7</string>
		<string>Risk Return and Performance_8</string>
		<string>Risk Return and Performance_9</string>
		<string>Risk Return and Performance_10</string>
		<string>Risk Return and Performance_11</string>
		<string>Risk Return and Performance_12</string>
		<string>Risk Return and Performance_13</string>
		<string>Risk Return and Performance_14</string>
		<string>Risk Return and Performance_15</string>
		<string>Risk Return and Performance_16</string>
		<string>Risk Return and Performance_17</string>
		<string>Risk Return and Performance_18</string>
		<string>Risk Return and Performance_19</string>
		<string>Risk Return and Performance_20</string>
	</array>
	<key>SEBI Guidelines for AML Standards, CFT and PF with KYC Norms</key>
	<array>
		<string>SEBI Guidelines for AML Standards, CFT and PF with KYC Norms_1</string>
		<string>SEBI Guidelines for AML Standards, CFT and PF with KYC Norms_2</string>
		<string>SEBI Guidelines for AML Standards, CFT and PF with KYC Norms_3</string>
		<string>SEBI Guidelines for AML Standards, CFT and PF with KYC Norms_4</string>
		<string>SEBI Guidelines for AML Standards, CFT and PF with KYC Norms_5</string>
		<string>SEBI Guidelines for AML Standards, CFT and PF with KYC Norms_6</string>
		<string>SEBI Guidelines for AML Standards, CFT and PF with KYC Norms_7</string>
		<string>SEBI Guidelines for AML Standards, CFT and PF with KYC Norms_8</string>
	</array>
	<key>Scheduled Offences under PMLA</key>
	<array>
		<string>Scheduled Offences under PMLA_1</string>
		<string>Scheduled Offences under PMLA_2</string>
		<string>Scheduled Offences under PMLA_3</string>
		<string>Scheduled Offences under PMLA_4</string>
	</array>
	<key>Scheme Performance</key>
	<array>
		<string>Scheme Performance_1</string>
		<string>Scheme Performance_2</string>
		<string>Scheme Performance_3</string>
		<string>Scheme Performance_4</string>
		<string>Scheme Performance_5</string>
		<string>Scheme Performance_6</string>
		<string>Scheme Performance_7</string>
		<string>Scheme Performance_8</string>
		<string>Scheme Performance_9</string>
		<string>Scheme Performance_10</string>
		<string>Scheme Performance_11</string>
		<string>Scheme Performance_12</string>
	</array>
	<key>Scheme Related Information</key>
	<array>
		<string>Scheme Related Information_1</string>
		<string>Scheme Related Information_2</string>
		<string>Scheme Related Information_3</string>
		<string>Scheme Related Information_4</string>
		<string>Scheme Related Information_5</string>
		<string>Scheme Related Information_6</string>
		<string>Scheme Related Information_7</string>
		<string>Scheme Related Information_8</string>
		<string>Scheme Related Information_9</string>
		<string>Scheme Related Information_10</string>
		<string>Scheme Related Information_11</string>
	</array>
	<key>Scheme Selection</key>
	<array>
		<string>Scheme Selection_1</string>
		<string>Scheme Selection_2</string>
		<string>Scheme Selection_3</string>
		<string>Scheme Selection_4</string>
		<string>Scheme Selection_5</string>
		<string>Scheme Selection_6</string>
		<string>Scheme Selection_7</string>
		<string>Scheme Selection_8</string>
		<string>Scheme Selection_9</string>
		<string>Scheme Selection_10</string>
		<string>Scheme Selection_11</string>
		<string>Scheme Selection_12</string>
		<string>Scheme Selection_13</string>
		<string>Scheme Selection_14</string>
		<string>Scheme Selection_15</string>
		<string>Scheme Selection_16</string>
		<string>Scheme Selection_17</string>
	</array>
	<key>Secondary Markets</key>
	<array>
		<string>Secondary Markets_1</string>
		<string>Secondary Markets_2</string>
		<string>Secondary Markets_3</string>
		<string>Secondary Markets_4</string>
		<string>Secondary Markets_5</string>
		<string>Secondary Markets_6</string>
		<string>Secondary Markets_7</string>
		<string>Secondary Markets_8</string>
		<string>Secondary Markets_9</string>
		<string>Secondary Markets_10</string>
		<string>Secondary Markets_11</string>
		<string>Secondary Markets_12</string>
		<string>Secondary Markets_13</string>
		<string>Secondary Markets_14</string>
		<string>Secondary Markets_15</string>
		<string>Secondary Markets_16</string>
		<string>Secondary Markets_17</string>
		<string>Secondary Markets_18</string>
		<string>Secondary Markets_19</string>
	</array>
	<key>Securities Types Features and Asset Allocation Concepts</key>
	<array>
		<string>Securities Types Features and Asset Allocation Concepts_1</string>
		<string>Securities Types Features and Asset Allocation Concepts_2</string>
		<string>Securities Types Features and Asset Allocation Concepts_3</string>
		<string>Securities Types Features and Asset Allocation Concepts_4</string>
		<string>Securities Types Features and Asset Allocation Concepts_5</string>
		<string>Securities Types Features and Asset Allocation Concepts_6</string>
		<string>Securities Types Features and Asset Allocation Concepts_7</string>
		<string>Securities Types Features and Asset Allocation Concepts_8</string>
		<string>Securities Types Features and Asset Allocation Concepts_9</string>
		<string>Securities Types Features and Asset Allocation Concepts_10</string>
		<string>Securities Types Features and Asset Allocation Concepts_11</string>
		<string>Securities Types Features and Asset Allocation Concepts_12</string>
		<string>Securities Types Features and Asset Allocation Concepts_13</string>
		<string>Securities Types Features and Asset Allocation Concepts_14</string>
		<string>Securities Types Features and Asset Allocation Concepts_15</string>
		<string>Securities Types Features and Asset Allocation Concepts_16</string>
		<string>Securities Types Features and Asset Allocation Concepts_17</string>
		<string>Securities Types Features and Asset Allocation Concepts_18</string>
		<string>Securities Types Features and Asset Allocation Concepts_19</string>
		<string>Securities Types Features and Asset Allocation Concepts_20</string>
	</array>
	<key>Taxation</key>
	<array>
		<string>Taxation_1</string>
		<string>Taxation_2</string>
		<string>Taxation_3</string>
		<string>Taxation_4</string>
		<string>Taxation_5</string>
		<string>Taxation_6</string>
		<string>Taxation_7</string>
		<string>Taxation_8</string>
		<string>Taxation_9</string>
		<string>Taxation_10</string>
	</array>
	<key>Understanding Securities Markets and Performance</key>
	<array>
		<string>Understanding Securities Markets and Performance_1</string>
		<string>Understanding Securities Markets and Performance_2</string>
		<string>Understanding Securities Markets and Performance_3</string>
		<string>Understanding Securities Markets and Performance_4</string>
		<string>Understanding Securities Markets and Performance_5</string>
		<string>Understanding Securities Markets and Performance_6</string>
		<string>Understanding Securities Markets and Performance_7</string>
		<string>Understanding Securities Markets and Performance_8</string>
		<string>Understanding Securities Markets and Performance_9</string>
		<string>Understanding Securities Markets and Performance_10</string>
	</array>
	<key>VB Concept and Role of Mutual Fund</key>
	<array>
		<string>VB Concept and Role of Mutual Fund_1</string>
		<string>VB Concept and Role of Mutual Fund_2</string>
		<string>VB Concept and Role of Mutual Fund_3</string>
		<string>VB Concept and Role of Mutual Fund_4</string>
		<string>VB Concept and Role of Mutual Fund_5</string>
		<string>VB Concept and Role of Mutual Fund_6</string>
		<string>VB Concept and Role of Mutual Fund_7</string>
		<string>VB Concept and Role of Mutual Fund_8</string>
		<string>VB Concept and Role of Mutual Fund_9</string>
		<string>VB Concept and Role of Mutual Fund_10</string>
		<string>VB Concept and Role of Mutual Fund_11</string>
	</array>
	<key>VB Fund Distribution and Channel Management</key>
	<array>
		<string>VB Fund Distribution and Channel Management_1</string>
		<string>VB Fund Distribution and Channel Management_2</string>
		<string>VB Fund Distribution and Channel Management_3</string>
		<string>VB Fund Distribution and Channel Management_4</string>
		<string>VB Fund Distribution and Channel Management_5</string>
		<string>VB Fund Distribution and Channel Management_6</string>
		<string>VB Fund Distribution and Channel Management_7</string>
		<string>VB Fund Distribution and Channel Management_8</string>
		<string>VB Fund Distribution and Channel Management_9</string>
		<string>VB Fund Distribution and Channel Management_10</string>
	</array>
	<key>VB Investment Landscape</key>
	<array>
		<string>VB Investment Landscape_1</string>
		<string>VB Investment Landscape_2</string>
		<string>VB Investment Landscape_3</string>
		<string>VB Investment Landscape_4</string>
		<string>VB Investment Landscape_5</string>
	</array>
	<key>VB Investor Services</key>
	<array>
		<string>VB Investor Services_1</string>
		<string>VB Investor Services_2</string>
		<string>VB Investor Services_3</string>
		<string>VB Investor Services_4</string>
		<string>VB Investor Services_5</string>
		<string>VB Investor Services_6</string>
		<string>VB Investor Services_7</string>
		<string>VB Investor Services_8</string>
		<string>VB Investor Services_9</string>
		<string>VB Investor Services_10</string>
		<string>VB Investor Services_11</string>
		<string>VB Investor Services_12</string>
		<string>VB Investor Services_13</string>
		<string>VB Investor Services_14</string>
		<string>VB Investor Services_15</string>
		<string>VB Investor Services_16</string>
		<string>VB Investor Services_17</string>
	</array>
	<key>VB Legal Structure of Mutual Funds</key>
	<array>
		<string>VB Legal Structure of Mutual Funds_1</string>
		<string>VB Legal Structure of Mutual Funds_2</string>
		<string>VB Legal Structure of Mutual Funds_3</string>
		<string>VB Legal Structure of Mutual Funds_4</string>
		<string>VB Legal Structure of Mutual Funds_5</string>
		<string>VB Legal Structure of Mutual Funds_6</string>
		<string>VB Legal Structure of Mutual Funds_7</string>
	</array>
	<key>VB Legal and Regulatory Environment</key>
	<array>
		<string>VB Legal and Regulatory Environment_1</string>
		<string>VB Legal and Regulatory Environment_2</string>
		<string>VB Legal and Regulatory Environment_3</string>
		<string>VB Legal and Regulatory Environment_4</string>
		<string>VB Legal and Regulatory Environment_5</string>
		<string>VB Legal and Regulatory Environment_6</string>
		<string>VB Legal and Regulatory Environment_7</string>
	</array>
	<key>VB Performance of Mutual Funds</key>
	<array>
		<string>VB Performance of Mutual Funds_1</string>
		<string>VB Performance of Mutual Funds_2</string>
		<string>VB Performance of Mutual Funds_3</string>
		<string>VB Performance of Mutual Funds_4</string>
		<string>VB Performance of Mutual Funds_5</string>
		<string>VB Performance of Mutual Funds_6</string>
		<string>VB Performance of Mutual Funds_7</string>
		<string>VB Performance of Mutual Funds_8</string>
		<string>VB Performance of Mutual Funds_9</string>
		<string>VB Performance of Mutual Funds_10</string>
		<string>VB Performance of Mutual Funds_11</string>
		<string>VB Performance of Mutual Funds_12</string>
		<string>VB Performance of Mutual Funds_13</string>
		<string>VB Performance of Mutual Funds_14</string>
	</array>
	<key>VB Scheme Related Information</key>
	<array>
		<string>VB Scheme Related Information_1</string>
		<string>VB Scheme Related Information_2</string>
		<string>VB Scheme Related Information_3</string>
		<string>VB Scheme Related Information_4</string>
		<string>VB Scheme Related Information_5</string>
		<string>VB Scheme Related Information_6</string>
		<string>VB Scheme Related Information_7</string>
		<string>VB Scheme Related Information_8</string>
		<string>VB Scheme Related Information_9</string>
		<string>VB Scheme Related Information_10</string>
	</array>
	<key>VB Taxation</key>
	<array>
		<string>VB Taxation_1</string>
		<string>VB Taxation_2</string>
		<string>VB Taxation_3</string>
		<string>VB Taxation_4</string>
		<string>VB Taxation_5</string>
	</array>
	<key>VIII Accounting and Taxation</key>
	<array>
		<string>VIII Accounting and Taxation_1</string>
		<string>VIII Accounting and Taxation_2</string>
		<string>VIII Accounting and Taxation_3</string>
		<string>VIII Accounting and Taxation_4</string>
		<string>VIII Accounting and Taxation_5</string>
	</array>
	<key>VIII Basics of Derivatives</key>
	<array>
		<string>VIII Basics of Derivatives_1</string>
		<string>VIII Basics of Derivatives_2</string>
		<string>VIII Basics of Derivatives_3</string>
		<string>VIII Basics of Derivatives_4</string>
		<string>VIII Basics of Derivatives_5</string>
		<string>VIII Basics of Derivatives_6</string>
		<string>VIII Basics of Derivatives_7</string>
		<string>VIII Basics of Derivatives_8</string>
		<string>VIII Basics of Derivatives_9</string>
		<string>VIII Basics of Derivatives_10</string>
		<string>VIII Basics of Derivatives_11</string>
		<string>VIII Basics of Derivatives_12</string>
		<string>VIII Basics of Derivatives_13</string>
		<string>VIII Basics of Derivatives_14</string>
	</array>
	<key>VIII Introduction to Clearing and Settlement System</key>
	<array>
		<string>VIII Introduction to Clearing and Settlement System_1</string>
		<string>VIII Introduction to Clearing and Settlement System_2</string>
		<string>VIII Introduction to Clearing and Settlement System_3</string>
		<string>VIII Introduction to Clearing and Settlement System_4</string>
		<string>VIII Introduction to Clearing and Settlement System_5</string>
		<string>VIII Introduction to Clearing and Settlement System_6</string>
		<string>VIII Introduction to Clearing and Settlement System_7</string>
		<string>VIII Introduction to Clearing and Settlement System_8</string>
		<string>VIII Introduction to Clearing and Settlement System_9</string>
		<string>VIII Introduction to Clearing and Settlement System_10</string>
		<string>VIII Introduction to Clearing and Settlement System_11</string>
		<string>VIII Introduction to Clearing and Settlement System_12</string>
		<string>VIII Introduction to Clearing and Settlement System_13</string>
		<string>VIII Introduction to Clearing and Settlement System_14</string>
		<string>VIII Introduction to Clearing and Settlement System_15</string>
		<string>VIII Introduction to Clearing and Settlement System_16</string>
		<string>VIII Introduction to Clearing and Settlement System_17</string>
		<string>VIII Introduction to Clearing and Settlement System_18</string>
		<string>VIII Introduction to Clearing and Settlement System_19</string>
		<string>VIII Introduction to Clearing and Settlement System_20</string>
		<string>VIII Introduction to Clearing and Settlement System_21</string>
		<string>VIII Introduction to Clearing and Settlement System_22</string>
	</array>
	<key>VIII Introduction to Forwards and Futures</key>
	<array>
		<string>VIII Introduction to Forwards and Futures_1</string>
		<string>VIII Introduction to Forwards and Futures_2</string>
		<string>VIII Introduction to Forwards and Futures_3</string>
		<string>VIII Introduction to Forwards and Futures_4</string>
		<string>VIII Introduction to Forwards and Futures_5</string>
		<string>VIII Introduction to Forwards and Futures_6</string>
		<string>VIII Introduction to Forwards and Futures_7</string>
		<string>VIII Introduction to Forwards and Futures_8</string>
		<string>VIII Introduction to Forwards and Futures_9</string>
		<string>VIII Introduction to Forwards and Futures_10</string>
		<string>VIII Introduction to Forwards and Futures_11</string>
		<string>VIII Introduction to Forwards and Futures_12</string>
		<string>VIII Introduction to Forwards and Futures_13</string>
		<string>VIII Introduction to Forwards and Futures_14</string>
		<string>VIII Introduction to Forwards and Futures_15</string>
		<string>VIII Introduction to Forwards and Futures_16</string>
		<string>VIII Introduction to Forwards and Futures_17</string>
		<string>VIII Introduction to Forwards and Futures_18</string>
		<string>VIII Introduction to Forwards and Futures_19</string>
		<string>VIII Introduction to Forwards and Futures_20</string>
		<string>VIII Introduction to Forwards and Futures_21</string>
		<string>VIII Introduction to Forwards and Futures_22</string>
		<string>VIII Introduction to Forwards and Futures_23</string>
		<string>VIII Introduction to Forwards and Futures_24</string>
		<string>VIII Introduction to Forwards and Futures_25</string>
		<string>VIII Introduction to Forwards and Futures_26</string>
		<string>VIII Introduction to Forwards and Futures_27</string>
		<string>VIII Introduction to Forwards and Futures_28</string>
		<string>VIII Introduction to Forwards and Futures_29</string>
		<string>VIII Introduction to Forwards and Futures_30</string>
		<string>VIII Introduction to Forwards and Futures_31</string>
		<string>VIII Introduction to Forwards and Futures_32</string>
		<string>VIII Introduction to Forwards and Futures_33</string>
		<string>VIII Introduction to Forwards and Futures_34</string>
		<string>VIII Introduction to Forwards and Futures_35</string>
		<string>VIII Introduction to Forwards and Futures_36</string>
		<string>VIII Introduction to Forwards and Futures_37</string>
		<string>VIII Introduction to Forwards and Futures_38</string>
		<string>VIII Introduction to Forwards and Futures_39</string>
		<string>VIII Introduction to Forwards and Futures_40</string>
		<string>VIII Introduction to Forwards and Futures_41</string>
		<string>VIII Introduction to Forwards and Futures_42</string>
		<string>VIII Introduction to Forwards and Futures_43</string>
	</array>
	<key>VIII Introduction to Options</key>
	<array>
		<string>VIII Introduction to Options_1</string>
		<string>VIII Introduction to Options_2</string>
		<string>VIII Introduction to Options_3</string>
		<string>VIII Introduction to Options_4</string>
		<string>VIII Introduction to Options_5</string>
		<string>VIII Introduction to Options_6</string>
		<string>VIII Introduction to Options_7</string>
		<string>VIII Introduction to Options_8</string>
		<string>VIII Introduction to Options_9</string>
		<string>VIII Introduction to Options_10</string>
		<string>VIII Introduction to Options_11</string>
		<string>VIII Introduction to Options_12</string>
		<string>VIII Introduction to Options_13</string>
		<string>VIII Introduction to Options_14</string>
		<string>VIII Introduction to Options_15</string>
		<string>VIII Introduction to Options_16</string>
		<string>VIII Introduction to Options_17</string>
		<string>VIII Introduction to Options_18</string>
		<string>VIII Introduction to Options_19</string>
		<string>VIII Introduction to Options_20</string>
		<string>VIII Introduction to Options_21</string>
		<string>VIII Introduction to Options_22</string>
		<string>VIII Introduction to Options_23</string>
		<string>VIII Introduction to Options_24</string>
		<string>VIII Introduction to Options_25</string>
		<string>VIII Introduction to Options_26</string>
		<string>VIII Introduction to Options_27</string>
		<string>VIII Introduction to Options_28</string>
		<string>VIII Introduction to Options_29</string>
		<string>VIII Introduction to Options_30</string>
		<string>VIII Introduction to Options_31</string>
		<string>VIII Introduction to Options_32</string>
		<string>VIII Introduction to Options_33</string>
		<string>VIII Introduction to Options_34</string>
		<string>VIII Introduction to Options_35</string>
		<string>VIII Introduction to Options_36</string>
		<string>VIII Introduction to Options_37</string>
		<string>VIII Introduction to Options_38</string>
		<string>VIII Introduction to Options_39</string>
		<string>VIII Introduction to Options_40</string>
		<string>VIII Introduction to Options_41</string>
		<string>VIII Introduction to Options_42</string>
		<string>VIII Introduction to Options_43</string>
	</array>
	<key>VIII Introduction to Trading Systems</key>
	<array>
		<string>VIII Introduction to Trading Systems_1</string>
		<string>VIII Introduction to Trading Systems_2</string>
		<string>VIII Introduction to Trading Systems_3</string>
		<string>VIII Introduction to Trading Systems_4</string>
		<string>VIII Introduction to Trading Systems_5</string>
		<string>VIII Introduction to Trading Systems_6</string>
		<string>VIII Introduction to Trading Systems_7</string>
	</array>
	<key>VIII Legal and Regulatory Environment</key>
	<array>
		<string>VIII Legal and Regulatory Environment_1</string>
		<string>VIII Legal and Regulatory Environment_2</string>
		<string>VIII Legal and Regulatory Environment_3</string>
		<string>VIII Legal and Regulatory Environment_4</string>
		<string>VIII Legal and Regulatory Environment_5</string>
		<string>VIII Legal and Regulatory Environment_6</string>
		<string>VIII Legal and Regulatory Environment_7</string>
		<string>VIII Legal and Regulatory Environment_8</string>
		<string>VIII Legal and Regulatory Environment_9</string>
		<string>VIII Legal and Regulatory Environment_10</string>
		<string>VIII Legal and Regulatory Environment_11</string>
		<string>VIII Legal and Regulatory Environment_12</string>
		<string>VIII Legal and Regulatory Environment_13</string>
		<string>VIII Legal and Regulatory Environment_14</string>
		<string>VIII Legal and Regulatory Environment_15</string>
		<string>VIII Legal and Regulatory Environment_16</string>
		<string>VIII Legal and Regulatory Environment_17</string>
		<string>VIII Legal and Regulatory Environment_18</string>
		<string>VIII Legal and Regulatory Environment_19</string>
		<string>VIII Legal and Regulatory Environment_20</string>
		<string>VIII Legal and Regulatory Environment_21</string>
		<string>VIII Legal and Regulatory Environment_22</string>
	</array>
	<key>VIII Option Trading Strategies</key>
	<array>
		<string>VIII Option Trading Strategies_1</string>
		<string>VIII Option Trading Strategies_2</string>
		<string>VIII Option Trading Strategies_3</string>
		<string>VIII Option Trading Strategies_4</string>
		<string>VIII Option Trading Strategies_5</string>
		<string>VIII Option Trading Strategies_6</string>
		<string>VIII Option Trading Strategies_7</string>
	</array>
	<key>VIII Sales Practices and Investor Protection Services</key>
	<array>
		<string>VIII Sales Practices and Investor Protection Services_1</string>
		<string>VIII Sales Practices and Investor Protection Services_2</string>
		<string>VIII Sales Practices and Investor Protection Services_3</string>
	</array>
	<key>VIII Understanding Index</key>
	<array>
		<string>VIII Understanding Index_1</string>
		<string>VIII Understanding Index_2</string>
		<string>VIII Understanding Index_3</string>
		<string>VIII Understanding Index_4</string>
		<string>VIII Understanding Index_5</string>
	</array>
</dict>
</plist>
